* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    height: 40px;
    background-color: blue;
    border:1px solid white;
    color:white;
    text-align: center;
    line-height: 40px;
}

.row:nth-child(6) > div {
    height: 100%;
    padding: 8px;
}

.nested div {
    background-color: rgb(18, 209, 18);
    height: 40px;

}